{% extends "base.html" %}

{% block sidebar %}
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#" class="disabled">Top Tags</a>
        </li>
        {%- if tags -%}
          {%- for tag in tags -%}
            <li><a href="{{ url_for('posts_by_tag', tag=tag.key.id()) }}">{{ tag.key.id() }}</a></li>
          {%- endfor -%}
        {%- endif -%}
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {%- if posts -%}
              {%- for post in posts -%}
                <div class="post-preview">
                    <a href="{{ url_for('single_post', slug=post.key.id()) }}">
                       <h2 class="post-title">{{ post.Title | safe }}</h2>
                       <h3 class="post-subtitle">{{post.Description[:50] + "..."}}</h3>
                    </a>
                  <p class="post-meta">Posted by {{post.Author}} on {{post.created | pretty_date }}</p>
                </div>
                <hr>
              {%- endfor -%}
            {%- endif -%}

            <!-- Pager -->
            <ul class="pager">
                {%- if pag.next_page != -1 -%}
                  <li class="next"><a href="{{ url_for_other_page(pag.next_page) }}">Older Posts &rarr;</a></li>
                {%- endif -%}
                {%- if pag.prev_page != -1 -%}
                  <li class="previous"><a href="{{ url_for_other_page(pag.prev_page) }}">&larr; Newer Posts</a></li>
                {%- endif -%}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
